{% extends "base.html" %}
{% block content %}

<div class="container">
<h1>Juan Carlos Muñoz Trejos</h1>
  <form action="">
    <div class="mb-3">
      <label for="searchMovie" class="form-label">
        Search for Movie:
      </label>
      <input type="text" class="form-control" name="searchMovie"/>
    </div>
    <button type="> class="btn btn-primary">Search</button>
  </form>

  <p>Searching for {{searchTerm}}</p>
  <div class="row row-cols-1 row-cols-md-3 g-4 gx-3">
    {% for movie in movies %}
      <div class="card" style="width: 18rem;">
        <img src="{{ movie.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{movie.description}}</p>
          <ul class="list-group list-group-flush">
            <small class="text-muted">{{ movie.genre|default:"N/A" }}</small>
            <small class="text-muted">{{ movie.year|default:"N/A" }}</small>
          </ul>  
          {% if movie.url %}
            <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
          {% endif %}
        </div>
    </div>
    {% endfor %}  
  </div>
  <br/>
  <br/>
  <br/>
  <h2>Join our mailing list: </h2>
  <form action="{% url 'signup' %}">
    <div class="mb-3">
      <label for="email" class="form-label"> Enter your email: </label>
      <input type="email" class="form-control" id="email" name="email"/>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div>

{% endblock %}
